.bmi {
  .BMI-value { font-weight: bold; }

  &.bmi-underweight .BMI-value { color: gold; }
  &.bmi-normal      .BMI-value { color: green; }
  &.bmi-overweight  .BMI-value { color: orange; }
  &.bmi-obese       .BMI-value { color: red; }
}
